In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/titanic.csv')
df

Mounted at /content/drive

,survived,pclass,name,sex,age,fare,sibsp,parch
0,0,3,"Braund, Mr. Owen Harris",male,22.0,7.2500,1,0
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,1,0
2,1,3,"Heikkinen, Miss. Laina",female,26.0,7.9250,0,0
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,53.1000,1,0
4,0,3,"Allen, Mr. William Henry",male,35.0,8.0500,0,0
...,...,...,...,...,...,...,...,...
709,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,29.1250,0,5
710,0,2,"Montvila, Rev. Juozas",male,27.0,13.0000,0,0
711,1,1,"Graham, Miss. Margaret Edith",female,19.0,30.0000,0,0
712,1,1,"Behr, Mr. Karl Howell",male,26.0,30.0000,0,0
713,0,3,"Dooley, Mr. Patrick",male,32.0,7.7500,0,0

In [ ]:
# Section A

## Question 1:
c1 = '`sex`'
c2 ='`age`'
c3 ='`survived`'
s1 = 'female'

df_c1 = df.query('{0} == @s1 & ({1} < 18 & {2} ==1 )'.format(c1,c2,c3))
df_c1

a = df_c1['name']
print('all passengers who are female,under age 18, and survived are:',a)

all passengers who are female,under age 18, and survived are: 8                    Nasser, Mrs. Nicholas (Adele Achem)
9                        Sandstrom, Miss. Marguerite Rut
19                           McGowan, Miss. Anna "Annie"
30                           Nicola-Yarred, Miss. Jamila
33              Laroche, Miss. Simonne Marie Anne Andree
43                          West, Miss. Constance Mirium
51                       Andersson, Miss. Erna Alexandra
64                                   Ilett, Miss. Bertha
126                     Gilnagh, Miss. Katherine "Katie"
138                         Johnson, Miss. Eleanor Ileen
147                  Kink-Heilmann, Miss. Luise Gretchen
166                            Carr, Miss. Helen "Ellen"
188                       Asplund, Miss. Lillian Gertrud
191                     Collyer, Miss. Marjorie "Lottie"
244    Penasco y Castellana, Mrs. Victor de Satode (M...
265                         Hippach, Miss. Jean Gertrude
305                          Nakid, Miss. Maria ("Mary")
311                                Lehmann, Miss. Bertha
348                            Carter, Miss. Lucile Polk
358                    Mellinger, Miss. Madeleine Violet
360                       Baclini, Miss. Marie Catherine
374                        Baclini, Miss. Helene Barbara
382                             Hirvonen, Miss. Hildur E
401                                Maioni, Miss. Roberta
421                             Quick, Miss. Phyllis May
424                               Hart, Miss. Eva Miriam
487                          Becker, Miss. Marion Louise
509                               Baclini, Miss. Eugenie
546                    Madill, Miss. Georgette Alexandra
548                                   Karun, Miss. Manca
572                    Harper, Miss. Annie Jessie "Nina"
597                                    Wells, Miss. Joan
619                        Emanuel, Miss. Virginia Ethel
621                                 Ayoub, Miss. Banoura
622            Dick, Mrs. Albert Adrian (Vera Gillespie)
663              Yasbeck, Mrs. Antoni (Selini Alexander)
681                            Lines, Miss. Mary Conover
700                     Najib, Miss. Adele Kiamie "Jane"
Name: name, dtype: object
34.694514005602244

In [ ]:
## Question 2:

average_fare = df['fare'].mean()
print(average_fare)

# the average fare is 34.694514005602244
c1 = '`fare`'
c2 ='`pclass`'

df_c2 = df.query(('{0} > 34 & {1} == 1').format(c1,c2))
df_c2
df_c2['name']
print('the names of passengers who paid more than average fare and travelled in 1st class are:',df_c2['name'])

34.694514005602244
the names of passengers who paid more than average fare and travelled in 1st class are: 1      Cumings, Mrs. John Bradley (Florence Briggs Th...
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
5                                McCarthy, Mr. Timothy J
20                          Sloper, Mr. William Thompson
23                        Fortune, Mr. Charles Alexander
                             ...
681                            Lines, Miss. Mary Conover
684           Wick, Mrs. George Dennick (Mary Hitchcock)
693                 Roebling, Mr. Washington Augustus II
696     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
703        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
Name: name, Length: 140, dtype: object

In [ ]:
# Section B

## Question 3:
df_by_pclass = (df.groupby('pclass').mean(numeric_only=True))
print(df_by_pclass)

## Question 4:

df_by_sex_mean = (df.groupby('sex').mean(numeric_only=True))
print('the mean values are :',df_by_sex_mean)

df_by_sex_median = (df.groupby('sex').median(numeric_only=True))
print('the median values are',df_by_sex_median)

        survived        age       fare     sibsp     parch
pclass
1       0.655914  38.233441  87.961582  0.451613  0.408602
2       0.479769  29.877630  21.471556  0.427746  0.404624
3       0.239437  25.140620  13.229435  0.585915  0.456338
the mean values are :         survived    pclass        age       fare     sibsp     parch
sex
female  0.754789  2.065134  27.915709  47.582759  0.639847  0.708812
male    0.205298  2.335541  30.726645  27.268836  0.439294  0.271523
the median values are         survived  pclass   age  fare  sibsp  parch
sex
female       1.0     2.0  27.0  26.0    0.0    0.0
male         0.0     3.0  29.0  13.0    0.0    0.0

In [ ]:
# Section C:

## Question 5:

df.sort_values(by = 'fare',ascending =False)

,survived,pclass,name,sex,age,fare,sibsp,parch,family_size
587,1,1,"Lesurer, Mr. Gustave J",male,35.0,512.3292,0,0,0
537,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,512.3292,0,1,1
208,1,1,"Ward, Miss. Anna",female,35.0,512.3292,0,0,0
67,1,1,"Fortune, Miss. Mabel Helen",female,23.0,263.0000,3,2,5
274,1,1,"Fortune, Miss. Alice Elizabeth",female,24.0,263.0000,3,2,5
...,...,...,...,...,...,...,...,...,...
144,0,3,"Leonard, Mr. Lionel",male,36.0,0.0000,0,0,0
242,0,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0.0000,0,0,0
218,1,3,"Tornquist, Mr. William Henry",male,25.0,0.0000,0,0,0
212,0,1,"Harrison, Mr. William",male,40.0,0.0000,0,0,0
658,0,1,"Reuchlin, Jonkheer. John George",male,38.0,0.0000,0,0,0

In [ ]:
## Question 6:

df['family_size'] = df['sibsp'] + df['parch']
print(df)

c1 = '`family_size`'
df_c3 = df.query(('{0} > 5').format(c1))

df_c3
df_c3.shape

print(df_c3)

# the largest families are those whose family_size is 7 and with this size there are 6 people

c1 = '`family_size`'
df_c4 = df.query(('{0} ==7').format(c1))

df_c4['name']

a = list(df_c4['name'])

b = a[0:5]

print('the five passengers with the largest families are',b)

     survived  pclass                                               name  \
0           0       3                            Braund, Mr. Owen Harris
1           1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2           1       3                             Heikkinen, Miss. Laina
3           1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4           0       3                           Allen, Mr. William Henry
..        ...     ...                                                ...
709         0       3               Rice, Mrs. William (Margaret Norton)
710         0       2                              Montvila, Rev. Juozas
711         1       1                       Graham, Miss. Margaret Edith
712         1       1                              Behr, Mr. Karl Howell
713         0       3                                Dooley, Mr. Patrick

        sex   age     fare  sibsp  parch  family_size
0      male  22.0   7.2500      1      0            1
1    female  38.0  71.2833      1      0            1
2    female  26.0   7.9250      0      0            0
3    female  35.0  53.1000      1      0            1
4      male  35.0   8.0500      0      0            0
..      ...   ...      ...    ...    ...          ...
709  female  39.0  29.1250      0      5            5
710    male  27.0  13.0000      0      0            0
711  female  19.0  30.0000      0      0            0
712    male  26.0  30.0000      0      0            0
713    male  32.0   7.7500      0      0            0

[714 rows x 9 columns]
     survived  pclass                                               name  \
12          0       3                        Andersson, Mr. Anders Johan
22          1       3  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
44          0       3                 Goodwin, Master. William Frederick
51          1       3                    Andersson, Miss. Erna Alexandra
54          0       3                         Goodwin, Miss. Lillian Amy
94          0       3                  Andersson, Miss. Ellis Anna Maria
145         0       3              Asplund, Master. Clarence Gustaf Hugo
188         1       3                     Asplund, Miss. Lillian Gertrud
210         1       3                  Asplund, Master. Edvin Rojj Felix
309         0       3                    Goodwin, Master. Sidney Leonard
383         0       3                     Goodwin, Master. Harold Victor
429         0       3               Andersson, Miss. Ingeborg Constanzia
430         0       3                  Andersson, Miss. Sigrid Elisabeth
482         0       3  Andersson, Mrs. Anders Johan (Alfrida Konstant...
536         0       3            Goodwin, Mrs. Frederick (Augusta Tyler)
540         0       3                        Goodwin, Mr. Charles Edward
650         0       3                 Andersson, Miss. Ebba Iris Alfrida
678         0       3            Andersson, Master. Sigvard Harald Elias

        sex   age     fare  sibsp  parch  family_size
12     male  39.0  31.2750      1      5            6
22   female  38.0  31.3875      1      5            6
44     male  11.0  46.9000      5      2            7
51   female  17.0   7.9250      4      2            6
54   female  16.0  46.9000      5      2            7
94   female   2.0  31.2750      4      2            6
145    male   9.0  31.3875      4      2            6
188  female   5.0  31.3875      4      2            6
210    male   3.0  31.3875      4      2            6
309    male   1.0  46.9000      5      2            7
383    male   9.0  46.9000      5      2            7
429  female   9.0  31.2750      4      2            6
430  female  11.0  31.2750      4      2            6
482  female  39.0  31.2750      1      5            6
536  female  43.0  46.9000      1      6            7
540    male  14.0  46.9000      5      2            7
650  female   6.0  31.2750      4      2            6
678    male   4.0  31.2750      4      2            6
the five passengers with the largest families are ['Goodwin, Master. William Frederick', 'Goodwin, Miss. Lillian Amy', 'Goodwin, Master. Sidney Leonard', 'Goodwin, Master. Harold Victor', 'Goodwin, Mrs. Frederick (Augusta Tyler)']